%fieldset.element
  %h2 Bevezető
  %p Kedves Válaszadó!
  %p
    Kérjük szánjon <abbr title="átlagosan">10-15</abbr> percet idejéből kérdőívünk
    kitöltésére, amellyel a magyarországi mobiltelefon-használati szokásokat
    szeretnénk felmérni.  A válaszadás során kérjük figyelmesen olvassa el a
    kérdéseket, illetve válaszokkal kapcsolatos megjegyzéseket, majd a válaszok
    megadását követően az oldal alján található &quot;Következő &raquo;&quot;
    gombra kattintva haladhat tovább a kitöltéssel.
  %p
    A válaszadás önkéntes, az adatokat névtelenül dolgozzuk fel, illetve a
    kérdőívben megadott adatokat bizalmasan kezeljük, harmadik félnek azokat
    nem adjuk át.
  %p
    Amennyiben igényt tart a kutatás eredményére, kérjük a kérdőív végén adja
    meg e-mail címét.
  %p Segítségét előre is köszönjük,
  %p Bajor Gyula, Bősze Szilvi, Golda Bence, Obreczán Mátyás és Szabó László
%fieldset.element
  %h2 Start
  %p
    = link_to_q 1, 'Jöjjön az első kérdés!'
