= form_for_q 7 do
  = ask 'Milyen gyakran tölti fel egyenlegét?'
  %p.suggestion A lehetőségek közül egyet válasszon!
  = single_choice 'Hetente', 'Két hetente', 'Havonta', 'Két havonta', 'Félévente', 'Ritkábban'
  = submit
