= form_for_q 41 do
  = ask 'Milyen kódolvasót használ?'
  %p.suggestion A lehetőségek közül többet is választhat!
  = multiple_choice_with_free 'I-nigma', 'QuickMark', 'Telefonba beépített kliens', 'Egyéb:'
  = submit
